<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Admin/Index">
                <img id="favicon" src="~/images/favicon.png" />
                <span>Fast Food Restaurant</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Admin/Index">HOME</a></li>
                <li><a href="/Admin/ManageGal">MANAGE GALLERY</a></li>
                <li><a href="/Admin/ItemManager">ITEM MANAGER</a></li>
                <li><a id="logout">LOG OUT</a></li>
            </ul>
        </div>
    </div>
</nav>