<div id="footerImg">
    <!--<img id="footerImg" src="images/footerImg.jpg">-->
    <div id="footer" class="container text-center">
        <ul id="footerList">
            <li><a href="/Home/Index">HOME</a></li>
            <li><a href="/Home/Gallery">GALLERY</a></li>
            <li><a href="/Home/About">ABOUT US</a></li>
            <li><a href="/Home/Contact">CONTACT US</a></li>
        </ul>
        <p>
            Fast Food Restaurant
            <span class="copyright">
                <span class="glyphicon glyphicon-copyright-mark"></span>
                <span id="cr-year"></span><span id="rights"> All Rights Reserverd</span>
            </span>
        </p>

        <div class="sm-list text-center">
            <a class="sm-links" href="https://www.facebook.com" target="_blank"><img class="sm-icons" src="../../../images/sm/fb.png" /></a>
            <a class="sm-links" href="https://plus.google.com" target="_blank"><img class="sm-icons" src="../../../images/sm/gplus.png" /></a>
            <a class="sm-links" href="https://twitter.com" target="_blank"><img class="sm-icons" src="../../../images/sm/twitter.png" /></a>
            <a class="sm-links" href="https://instagram.com" target="_blank"><img class="sm-icons" src="../../../images/sm/insta.png" /></a>
            <a class="sm-links" href="https://youtube.com" target="_blank"><img class="sm-icons" src="../../../images/sm/youtube.png" /></a>
        </div>

        <p id="name">
            <a href="/Home/Login" style="color:lightyellow;cursor:default;text-decoration: none">
                Anas Muhammad (BCSF14M023)
            </a>
        </p>
    </div>
</div>