.modalForm{
    padding:5px 5px;
    margin: auto 0px;
    margin-bottom: 15px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

.modalForm input,.modalForm select{
    padding:10px 15px;
    margin:5px 10%;
    width: 80%;
    border-radius: 5px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.modalForm input[type=radio],.modalForm input[type=checkbox]{
    width:15px;
    height:15px;
    margin:5px;
}

.modalForm button{
    width:50%;
    margin-top: 20px;
    padding: 10px 5px;
    font-size: 1.5em;
    border-radius: 15px;
    /*background-color: aquamarine;*/
}

.modalForm label{
    width: 100%;
    display: inline-block;
    padding: 10px 15px; 
    margin: 5px 15px;
    font-size: 1.2em;
    text-align: left;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.radioVal{
    color:white;
}

.modalForm .button3{
    padding-left: 30px;
    padding: 8px 20px;
    font-size: 1.1em;
    width:18%;
    background-position: 25px 8px;
}

.modalForm .button3:hover{
    background-color: bisque;
}